.mask {
  background-color: rgba(255, 255, 255, 0.7)
}

.machine_image_size {
  height: 250px;
}

.img-size {
  width: 60%;
  height: 30vw;
}

.form-size {
  padding: 0.375rem 0.75rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.icon {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333300;
}

.font_design {
  font-family: Impact;
}

.table_sticky {
  display: block;
  overflow-y: scroll;
  height: calc(100vh/2);
  border: 1px solid;
  border-collapse: collapse;
}

.table_sticky thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #8EB8FF;
  border-top: #FFFFFF;
}

.table {
  margin: 0 !important;
}

@media (max-width: 767px) {
  .img-size {
    width: 90%;
    height: 40vw;
  }
}
