.mask {
  background-color: rgba(255, 255, 255, 0.7)
}

.section-single {
  background-image: url("assets/デフォルト/IMG_2637-f908223678bd19be13cfdadd52e13954e46a06246929cee6dc52ef5aec08eb2c.jpg");
  background-position: center;
  width: 100%;
  max-width: 100%;
}

.machine_image_size {
  height: 250px;
}

.img-size {
  width: 60%;
  height: 30vw;
}

.form-size {
  padding: 0.375rem 0.75rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.icon {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333300;
}

.font_design {
  font-family: Impact;
}

@media (max-width: 767px) {
  .img-size {
    width: 90%;
    height: 40vw;
  }
}
