<footer class="bg-primary-subtle text-light py-5">
  <div class="container">
    <p class="text-dark lh-lg text-start">
      © TAMIYA 当サイト上で使用している画像の著作権および商標権、その他知的財産権は、当該コンテンツの提供元に帰属します。<br>
      © 2024 Tsukasa Ohashi
    </p>
  </div>
</footer>
